.title1{
  letter-spacing: 1;
  font-weight: bold !important;
  color: #616161 !important;
}

.title2{
  letter-spacing: 1;
  font-weight: bold !important;
  color: #000 !important;
}

.title3{
  letter-spacing: 1;
  font-weight: bold !important;
  color: #263238 !important;
}



.subtitle1{
  letter-spacing: 1;
  color: #37474f !important;
}

.list-box{
  height: 100px !important;
}

.list-box:hover{
  background-color: #eceff1 !important;
  cursor: pointer !important;
}

.list-margin{
  margin-left: 10px !important;
  padding-top: 10px !important;
}

.btn-round{
  border-radius: 50px !important;
  min-width: 110px !important;
}